<html>
<head>
    <title>iQOO 9 Pro 5G | amencart.com</title>
    <link rel="icon" href="../products/iqoo-9.png" type="png">
</head>

<body bgcolor="#fff" width="100%" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
	<table height="auto" width="100%" cellpadding="0" cellspacing="0" background="../products/gif-background.gif">	
		<tr height="50px">
			<td width="70%">
				<img src="../media/amencart-com.gif" alt="amencart Logo" height="54" width="auto" hspace="20" vspace="10">
			</td>
			<td width="30%"">
				<table height="auto" width="100%" cellpadding="15">
					<tr>
						<td width="25%">
							<a href="../home.html">
								   <font color="#F8F8F8" size="4">HOME</font>
							</a></td>
							<td width="25%">
							<a href="./OnePlus10.html">
                                    <font color="#F8F8F8" size="4">VIEW PREVIOUS</font>
                                </a></td>
							<td width="25%">
								<a href="./iphone14.html">
										<font color="#F8F8F8" size="4">VIEW NEXT</font>
								</a></td>
							</td> 
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table width="100%">
	<tr>
		<td>
			<table><td><img src="../products/iqoo-9.png" alt="iqoo9 pro" height="100%" width="100%"></td></table></td>
		<td width="50%">
				
				<font color="#111" size="6">
					iQOO 9 Pro 5G (Legend, 12GB RAM, 256GB Storage)
				</font>
				
				<font color="#A8A6A6" size="4">
					IQOO Inc.
					
					Released 23rd February 2022 | 4.7 stars out of 5 (1264 Ratings)
				</font>
				<hr width="80%" color="#95989A">
				<video width="100%" height="auto" controls poster="../videos/iqoo9.jpg">
				  <source src="../videos/iQOO9.mp4" type="video/mp4" >
				</video>
				
				<font color="#799395" size="5">
					<p align="center">₹64,990.00</p>
                    <p align="center">inclusive of all taxes</p>
                    <p align="center">EMI starts at ₹3,105. No Cost EMI available</p>
				</font>
				<font color="#FFFFFF" size="5">
					About this item
				</font>
				<font color="#A8A6A6" size="4">
					<ul type="circle">
						<li>Snapdragon️ 8 Gen 1 Mobile Processor which uses the latest 4nmprocess technology & has a maximum increase of 20% in CPUperformance, a maximum increase of 30% in GPU performance(Compared with Qualcomm Snapdragon 888 5G Mobile Platform)</li>
						<li>120W FlashCharge which can charge 50% battery in just 8minutes and 100% battery in just 20 minutes. Also, 50W WirelessFlashCharge using vertical charger which provides convenienceand universality.</li>
						<li>3D Ultrasonic Large Fingerprint Sensor which will help users in Unlocking without light: Better user experience at night, High security: 3D information recognized by ultrasonic fingerprint scanning & All-scenario: unlocking interfered by strong outdoor light.</li>
						<li>Intelligent Display Chip which increases the frame rate andoptimize colors so that every player can enjoy high FPS and rich colors at hand to be fully immersed in the gaming experience.</li>
					</ul>
				</font>
			</td>
</tr>
	</table>
    <table>
    <td bgcolor="#fff">
	<img src="../products/iqoo9/0.jpg" alt="iqoo9 banner0" height="auto" width="100%">
	<img src="../products/iqoo9/1.jpg" alt="iqoo9 banner1" height="auto" width="100%">
	<img src="../products/iqoo9/2.jpg" alt="iqoo9 banne2" height="auto" width="100%">
	<img src="../products/iqoo9/3.jpg" alt="iqoo9 banner3" height="auto" width="100%">
</td>
</table>
	<table height="auto" width="100%" cellpadding="0" cellspacing="0"  background="../products/gif-background.gif">
		<tr height="auto">
			<td align="center" >
				
				<img src="../media/amencart-com.gif">
				
			</td>
		</tr>
	</table>
</font>
</body>
</html>
