 
<html>
<head>
    <title>OnePlus 10 Pro 5G | amencart.com</title>
    <link rel="icon" href="../products/one-plus-10.png" type="png">
</head>

<body bgcolor="#fff" width="100%" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
	<table height="auto" width="100%" cellpadding="0" cellspacing="0"  background="../products/gif-background.gif">	
		<tr height="50px">
			<td width="70%">
				<img src="../media/amencart-com.gif" alt="amencart Logo" height="54" width="auto" hspace="20" vspace="10">
			</td>
			<td width="30%"">
				<table height="auto" width="100%" cellpadding="15">
					<tr>
						<td width="25%">
							<a href="../home.html">
								<font color="#F8F8F8" size="4">HOME</font>
							</a></td>
                            <td width="25%">
                                <a href="./samsung-Fold4.html">
                                    <font color="#F8F8F8" size="4">VIEW NEXT</font>
                                </a></td>
							<td width="25%">
								<a href="./iphone14.html">
                                    <font color="#F8F8F8" size="4">VIEW PREVIOUS</font>
                                </a></td>
							</td> 
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table width="100%">
	<tr>
		<td>
			<table><td><img src="../products/one-plus-10.png" alt="one plus 10 pro 5g" height="100%" width="100%"></td></table></td>
		<td width="50%">
				
				<font color="#111" size="6">
					OnePlus 10 Pro 5G (Volcanic Black, 8GB RAM,128GB Storage)
				</font>
				
				<font color="#A8A6A6" size="4">
					OnePlus Inc.
					
					Released 31th March 2022 | 4.1 stars out of 5 (7751 Ratings)
				</font>
				<hr width="80%" color="#95989A">
				<video width="100%" height="auto" controls poster="../videos/onepus10pro.jpg">
				  <source src="../videos/OnePlus10Pro.mp4" type="video/mp4" >
				</video>
				
				<font color="#799395" size="5">
					<p align="center">₹61,999.00</p>
                    <p align="center">inclusive of all taxes</p>
                    <p align="center">EMI starts at ₹2,962. No Cost EMI available</p>
				</font>
				<font color="#FFFFFF" size="5">
					About this item
				</font>
				<font color="#A8A6A6" size="4">
					<ol type="i">
						<li>Camera: 48MP Main Camera with Sony IMX 789 Lens (OIS enabled), 50MP Ultra-wide angle camera & 8MP Tele photo lens;Front (Selfie) Camera: 32MP; Flash: Dual LED</li>
						<li>Display: 6.7 Inches; 120 Hz QHD+ Fluid AMOLED with LTPO;Resolution: 3216 x 1440; Aspect Ratio: 20:9</li>
						<li>Operating System: Oxygen OS based on Android 12</li>
						<li>Processor: Qualcomm Snapdragon 8 Gen 1</li>
						<li>Battery & Charging: 5000 mAh with 80W SuperVOOC</li>
                        <li>Alexa Hands-Free capable: Download the Alexa app to use Alexahands-free. Play music, make calls, hear news, open apps,navigate, and more, all using just your voice, while on-the-go.</li>
					</ol>
				</font>
			</td>
</tr>
	</table>
    <table>
    <td bgcolor="#fff">
	<img src="../products/oneplus10/0.jpg" alt="oneplus 10 banner0" height="auto" width="100%">
	<img src="../products/oneplus10/1.jpg" alt="oneplus 10 banner1" height="auto" width="100%">
	<img src="../products/oneplus10/2.jpg" alt="oneplus 10 banner2" height="auto" width="100%">
	<img src="../products/oneplus10/3.jpg" alt="oneplus 10 banner3" height="auto" width="100%">
	<img src="../products/oneplus10/4.jpg" alt="oneplus 10 banner4" height="auto" width="100%">

</td>
</table>
	<table height="auto" width="100%" cellpadding="0" cellspacing="0"  background="../products/gif-background.gif">
		<tr height="auto">
			<td align="center" >
				
				<img src="../media/amencart-com.gif">
				
			</td>
		</tr>
	</table>
</font>
</body>
</html>
