 
<html>
<head>
    <title>Samsung Galaxy Z Fold4 | amencart.com</title>
    <link rel="icon" href="../products/sameung-zfold4.png" type="png">
</head>

<body bgcolor="#fff" width="100%" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
	<table height="auto" width="100%" cellpadding="0" cellspacing="0"  background="../products/gif-background.gif">	
		<tr height="50px">
			<td width="70%">
				<img src="../media/amencart-com.gif" alt="amencart Logo" height="54" width="auto" hspace="20" vspace="10">
			</td>
			<td width="30%"">
				<table height="auto" width="100%" cellpadding="15">
					<tr>
						<td width="25%">
							<a href="../home.html">
								   <font color="#F8F8F8" size="4">HOME</font>
							</a></td>
							<td width="25%">
							<a href="./iphone14.html">
                                    <font color="#F8F8F8" size="4">VIEW PREVIOUS</font>
                                </a></td>
							<td width="25%">
								<a href="./OnePlus10.html">
										<font color="#F8F8F8" size="4">VIEW NEXT</font>
								</a></td>
							</td> 
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table width="100%">
	<tr>
		<td>
			<table><td><img src="../products/sameung-zfold4.png" alt="zfold 4" height="100%" width="100%"></td></table></td>
		<td width="50%">
				
				<font color="#111" size="6">
					Samsung Galaxy Z Fold4 5G(Phantom Black, 12GB RAM, 256GB Storage)
				</font>
				
				<font color="#A8A6A6" size="4">
					Samsung Inc.
					
					Released 26th August 2022 | 4.3 stars out of 5 (1343 Ratings)
				</font>
				<hr width="80%" color="#95989A">
				<video width="100%" height="auto" controls poster="../videos/samsung-phone.jpg">
				  <source src="../videos/Galaxy Z Fold4.mp4" type="video/mp4" >
				</video>
				
				<font color="#799395" size="5">
					<p align="center">₹1,32,990.00</p>
                    <p align="center">inclusive of all taxes</p>
                    <p align="center">EMI starts at ₹6,385. No Cost EMI available</p>
				</font>
				<font color="#FFFFFF" size="5">
					About this item
				</font>
				<font color="#A8A6A6" size="4">
					<ul type="circle">
						<li>Stands out. Stands up. Unfolds. The Galaxy Z Fold4 does a lot inone hand with its 15.73 cm(6.2-inch) Cover Screen. Unfolded, the19.21 cm(7.6-inch) Main Screen lets you really get into the zone.Pushed-back bezels and the Under Display Camera means there'smore screen and no black dot getting between you and thebreathtaking Infinity Flex Display.</li>
						<li>Do more than more with Multi View. Whether toggling betweentexts or catching up on emails, take full advantage of theexpansive Main Screen with Multi View. PC-like power in yourpocket transforms apps optimized with One UI to give you menusand more in a glance</li>
						<li>New Taskbar for PC-like multitasking. Wipe out tasks in fewertaps. Add apps to the Taskbar for quick navigation and bouncingbetween windows when you're in the groove.4 And with App Pair,one tap launches up to three apps, all sharing one super-productive screen</li>
						<li>Our toughest Samsung Galaxy foldables ever. From the inside out, Galaxy Z Fold4 is made with materials that are not only stunning, but stand up to life's bumps and fumbles. The front and rearpanels, made with exclusive Corning Gorilla Glass Victus+, areready to resist sneaky scrapes and scratches. With our toughestaluminum frame made with Armor Aluminum, this is one durablesmartphone.</li>
						<li>World’s first water resistant foldable smartphones. Be adventurous, rain or shine. You don't have to sweat the forecast when you've got one of the world's first water-resistant foldable smartphones</li>
					</ul>
				</font>
			</td>
</tr>
	</table>
    <table>
    <td bgcolor="#fff">
	<img src="../products/zfold4/0.jpg" alt="zfold4 banner 0" height="auto" width="100%">
	<img src="../products/zfold4/1.jpg" alt="zfold4 banner 1" height="auto" width="100%">
	<img src="../products/zfold4/2.jpg" alt="zfold4 banner 2" height="auto" width="100%">
	<img src="../products/zfold4/3.jpg" alt="zfold4 banner 3" height="auto" width="100%">
</td>
</table>
	<table height="auto" width="100%" cellpadding="0" cellspacing="0"  background="../products/gif-background.gif">
		<tr height="auto">
			<td align="center" >
				
				<img src="../media/amencart-com.gif">
				
			</td>
		</tr>
	</table>
</font>
</body>
</html>
